/* a searchbar input like shop.app searchbar */

.container {
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px;
  /* width: 100%; */
  margin: 16px;
  background-color: #f2f2f2;
  border-radius: 12px;
  overflow: hidden;
}

.container input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
}
.container input::placeholder {
  color: #a1a0a7;
}

.search_icon {
  width: 20px;
  height: 20px;
}

.suggestion {
  position: absolute;
  left: 40px;
}
